* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;


}

.container {
    max-width: 85vw;
    /* height: 100vh; */
    margin: 0 auto;

}

.gradient {
    --gradientSize: 250%;
    --gradientPosX: calc(var(--gradientSize)*-.5);
    margin: 20px auto;
    width: 70vw;
    height: 10vw;
    background: linear-gradient(-90deg, blue, red);
    background-size: var(--gradientSize);
    background-position-x: var(--gradientPosX);
    transition: background-position-x 1s linear;
}

@media (max-width: 1129px) {

    .container,
    .gradient,
    .gallery {
        width: 100vw;
        margin: 0;
    }
}

.gradient:hover {
    background-position-x: calc(var(--gradientPosX) - 20vw);
}

.square {
    margin: 15vh 0;
}

.square__item {
    margin: 0px auto;
    width: 15vw;
    height: 15vw;
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.199);
    animation-duration: 1.5s, 1.5s, 2s;
    animation-delay: 0s, 1.5s, 3s;
}

@keyframes rotateXsqr {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(180deg);
    }
}

@keyframes rotateYsqr {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes scaleSqr {
    from {
        transform: scale(1);
    }

    50% {

        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}



.square__item:hover {
    animation-name: rotateXsqr, rotateYsqr, scaleSqr;
}

.circle {

    margin: 10vw auto;
    padding: 2vw;
    width: 70vw;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.199);
}

.circle__element {
    right: 0px;
    width: 10vw;
    height: 10vw;
    background-color: rgb(33, 102, 231);
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

}

@keyframes all {
    0% {
        border-radius: 0;
        background-color: rgb(33, 102, 231);
        margin-left: 0vw;
    }

    25% {
        background-color: pink;
        border-radius: 50%;
    }

    50% {
        border-radius: 0;
        margin-left: calc(70vw - 10vw - 4vw);
        background-color: rgb(33, 102, 231);
    }

    75% {
        border-radius: 50%;
        background-color: pink;

    }

    100% {
        border-radius: 0;
        background-color: rgb(33, 102, 231);
        margin-left: 0vw;

    }
}

.circle__element:hover {
    animation-play-state: paused;
}


.circle:hover .circle__element {
    animation-name: all;

}

.gallery {
    max-width: 85vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: row;
}

.gallery__item {
    object-fit: cover;
    width: 100%;
    height: 300px;
}